/* Font */
@font-face {
  font-family: 'PokemonFont';
  src: url('../../pokemonfont/Pokemon-Solid.ttf') format('truetype');
}

/* Body and General Styles */
body {
  font-family: 'PokemonFont', sans-serif;
  background-color: rgb(21, 60, 97);
}

/* Header Styles */
header {
  align-items: center;
}

/* Footer Styles */
footer {
  height: 4rem;
  background-color: rgba(21, 60, 97, 0.5);
  text-shadow: 2px 2px 0 #000;
  color: rgb(250, 199, 90);
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p{
  margin-right: 1.5rem;
}


/* Navigation Styles */
.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: relative;
  height: 2rem;
  padding: 1.5rem;
}

.main-link {
  font-size: 3rem;
  color: rgb(250, 199, 90);
}


.profile-link, .collection-link{
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.collection-link {
  color: #94A32C;
}

.profile-link{
  color: #A53D32;
}

.main-link,
.profile-link, 
.collection-link{
  font-weight: bold;
  text-shadow: 2px 2px 0 #000;
  text-decoration: none;
  margin-top: 2.5rem;
}

.main-link:hover{
  color: rgb(255, 222, 146);
}

.collection-link:hover {
  color: #c3d83a;
}

.profile-link:hover{
  color: #f17b4c;
}

.main-link:hover,
.profile-link:hover,
.collection-link:hover {
  cursor: grab;
}

/* Headings Styles */
h1 {
  color: rgb(250, 199, 90);
  font-weight: bold;
  font-size: 4rem;
  text-shadow: 2px 2px 0 #000;
}

h2,
h3 {
  color: rgb(250, 199, 90);
  font-weight: bold;
  text-shadow: 2px 2px 0 #000;
}

/* Front Page Styles */
.front-page {
  position: relative;
  display: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../public/images/landscape.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 60%;
}

/* Navigation Division Styles */
.nav-div {
  background-color: rgb(21, 60, 97, 0.5);
}

/* Main Division Styles */
.main-div {
  margin-top: 3rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

/* Profile div styles */
.profile {
  background-color: rgb(0, 174, 255, 0.5);
}

/* Catcher div styles */
.catcher{
  background-color: rgb(0, 174, 255, 0.5);
}

.collection-panel {
  background-color: rgba(0, 174, 255, 0.5);
  width: 70%;
  height: 65vh;
  border-radius: 20px;

}

.collection-div{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.single-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 174, 255, 0.5);
  border-radius: 10px;
  justify-content: center;
  padding: 5px;
  height: 100px; /* Example height */
  width: 100px; /* Example width */
  margin: 30px;
  box-shadow: #000 0px 0px 10px;
}

.single-pokemon img {
  max-width: 100%;
  max-height: 100%;
}


/* Registration and Login Styles */
.register h2 {
  font-size: 2.5rem;
}

.login h2 {
  font-size: 4rem;
}

.login,
.register{
  background-color: rgb(0, 174, 255, 0.5);
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 30%;
  border-radius: 5%;
  box-shadow: #000 0px 0px 10px;
}

.login form,
.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.login input,
.register input {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(128, 180, 228);
  text-shadow: 2px 2px 0 #000;
}

.login button,
.register button {
  background-color: rgb(250, 199, 90);
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(48, 146, 238);
  text-shadow: 2px 2px 0 #000;
}

.login button:hover,
.register button:hover {
  cursor: grab;
  background-color: rgb(255, 222, 146);
}

.login {
  font-size: 1.5rem;
  padding: 10px;
}

.register {
  font-size: 1rem;
  padding: 30px;
}

/* Log/Reg Redirect */
.login-register-redirect {
  padding: 1rem;
  color: rgb(250, 199, 90);
  font-weight: bold;
  text-shadow: 2px 2px 0 #000;
}

.not-registered:hover {
  cursor: grab;
  color: rgb(255, 222, 146);
}
